<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>watches_gifts</td>
    </tr>
    <tr>
      <th>1</th>
      <td>fashion_bags_accessories</td>
    </tr>
    <tr>
      <th>2</th>
      <td>audio</td>
    </tr>
    <tr>
      <th>3</th>
      <td>computers_accessories</td>
    </tr>
    <tr>
      <th>4</th>
      <td>perfumery</td>
    </tr>
    <tr>
      <th>5</th>
      <td>sports_leisure</td>
    </tr>
    <tr>
      <th>6</th>
      <td>construction_tools_safety</td>
    </tr>
  </tbody>
</table>